/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 32;
  --first-color: hsl(var(--hue), 100%, 49%);;
 
  --first-color-alt: hsl(var(--hue), 100%, 40%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/


/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle,
.nav__close{
color: var(--title-color);
}

.nav__logo{
  font-weight: 500;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
   color:black
}
.nav__logo-img{
  height: var(--header-height);
  
}

.nav__logo:hover{
color:var(--first-color);;
}



.nav__toggle{
  display:inline-flex ;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width:767px) {
  .nav__menu{
    position: fixed;
    background-color:var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}
.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top:1rem;
  right:1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}
/* Show menu */
.show-menu{
  right:0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1) ;
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}
/*=============== HOME ===============*/
.home{
  padding:3.5rem 0 2rem ;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}

.home__img{
  width:280px;
  justify-self:center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
  color: var(--first-color);
}
.home__data{
  margin: 1rem 0;
}

.home__description{
  margin:1rem;
  color: var(--text-color);
  gap: 1rem;
}
.home__description-text{
  color: var(--text-color);
  font-size: medium;
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  display:grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color:var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links{
  display: inline-flex;
  flex-direction:column;
  row-gap: .25rem;
}
.home__social-link{
  font-size: 1rem;
  color: var(--first-color);
  transition: .3s;
}

.home__social-link:hover{
  transform: translateX(.25rem);
}
/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.7rem;
  border-radius:.5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  transition: .3s;
}
.button:hover .button__icon{
  transform:translateX(.25rem)
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

/*=============== SERVICES ===============*/


.services__img{
  
  justify-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
  }

  .massage_img{
    margin-bottom: var(--mb-2);
  }

.services__title{
  
  color: var(--first-color);
}

.services__description{
  margin-bottom: var(--mb-2);
}
.services__details-text{
  margin-bottom: var(--mb-2);
  

}



.services__details-double{
  margin-bottom: 2rem;
  

}

.services__details-title{
  color: var(--first-color);
}



/*=============== PRICES ===============*/
.prices__bg{
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
  
}

.prices__container{
  gap: 2rem;
  padding-top: 1rem;
  
  
 
}

.prices__title{
  color: var(--first-color);
  
}

.prices__card{
 padding: 2.5rem 3rem 2rem 1.5rem;
 
 background-color: #FFF;
 border-radius: 1rem;
}

.prices__card-title,.prices__card-min{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
 text-align: center;
 color: var(--first-color);
}
.prices__card-price{
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.button--price{
  text-align: center;
}

.prices__card-min--spam{
  font-size: small;
}

.prices__notes{
  margin-bottom: var(--mb-1);
  font-size: small;
  color:gray;
}





/*=============== CONTACT ===============*/

.contact__container{
  row-gap: 3.5rem;
}
.contact__title{
  color: var(--first-color);
}
.section__description{
  margin-bottom: var(--mb-2-5);
}
.contact__data{
  display: grid;
  row-gap: 2rem;
}

.contact__img{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

/*Input focus move up label*/


/*Input focus sticky top label*/


/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  
 
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  
  transition: .3s;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__data{
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
display: inline-flex;
column-gap: 0.75rem;
}

.footer__social-link--facebook,.footer__social-link--instagram,.footer__social-link--whatsapp{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}


.footer__social-link--instagram:hover{
  transform: translateY(-.25rem);
  color: #E1306C;
}
.footer__social-link--facebook:hover{
  transform: translateY(-.25rem);
  color: #3B5998;
}

.footer__social-link--whatsapp:hover{
  transform: translateY(-.25rem);
  color: #4FCE5D;
}

.footer__cards{
  display:inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.footer__card{
  width: 40px;
  height: 40px;
}
.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin:5rem 0rem 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .3;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}
/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background:hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:320px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .prices__bg{
    padding: 2rem 1rem;
  }
  .prices__card{
    padding: 1.5rem;

  }
  .contact__description{
    font-size: small;
  }
 
  
  
}

/* For medium devices */
@media screen and (min-width:576px) {
  .home__img{
    width: 380px;
  }
  .prices__container{
    grid-template-columns: repeat(2,1fr);
  }
  .footer__logo-icon{
    max-width: 220px;
  }
 
}

@media screen and (min-width:767px){
  body{
    margin: 0;
  }
  .nav{
    height: calc(var(--header-height)+ 1.5rem);
    column-gap: 3rem;
   
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .home__container,.home__description,.services__container,.contact__data,.footer__container{
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }

  .home{
    padding: 10rem 0 5rem;
  }

  .home__container{
    align-items: center;
  }
  .home__data{
  text-align: center;
  }
  .home__img{
    width: 280px;
    order: 1;
  }
  .wide{
    grid-column: span 2;
  }
  .home__social{
    top: 30%;
  }
  .contact__information{
    display: grid;
  }
  .footer__container{
    column-gap: 3rem;
  }
  
 
}


/* For large devices */

@media screen and (min-width:992px ) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,.section__title-center{
    font-size:var(--h1-font-size) ;
  }

  .home{
    padding: 13rem 0 5rem;
  }
  .home__img{
    width: 350px;
  }
  .prices__container{
    grid-template-columns:repeat(3,1fr) ;
  }
  .prices__bg{
    padding: 3.5rem 2.5rem;
  }
  .prices__card-title{
    font-size: var(--normal-font-size);
  }
  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
  
}

@media screen and (min-width:1200px) {
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }

  .home__description{
    column-gap: 7rem;
    margin-top: 7rem;
  }
  .services__container{
    column-gap: 7rem;
  }

  .scrollup{
    right: 3rem;
  }
}